<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="FirmaTakipDB" connectionString="metadata=res://*/Stok.Model1.csdl|res://*/Stok.Model1.ssdl|res://*/Stok.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=FirmaTakipDB;Integrated Security=True;MultipleActiveResultSets=True&quot;"        
      providerName="System.Data.EntityClient" />
    
<!--<add name="FirmaTakipDB" connectionString="metadata=res://*/Stok.Model1.csdl|res://*/Stok.Model1.ssdl|res://*/Stok.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\FirmaTakipDB.mdf;Integrated Security=True; User Instance=True;MultipleActiveResultSets=True&quot;"        
      providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>